/** Import fonts **/
@import url('https://fonts.googleapis.com/css2?family=Marhey&family=Rubik+Distressed&display=swap');

/** font-family: 'Marhey', cursive;
font-family: 'Rubik Distressed', cursive; **/

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family:Marhey, ans-serif;
}

/** Title **/
.title {
    background-image: url(../images/army.png);
    background-color: rgba(255, 0, 0, 0.9);
    background-size:contain;
    background-position: center;
    font-family: Rubik Distressed, sans-serif;
    color:antiquewhite;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/** Choose gun section **/
.guns {
    text-align: center;
    background-image: url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.choose_weapon{
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
}

.choose_gun {
    display: inline-block;
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
}

#pistol {
    margin-right:100px
}

.confirm_gun {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
    font-size: 20px;
    font-weight: 30;
}

.field {
    background-image: url(../images/soldier.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/** HP field **/

.hp_field {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    color:rgb(240, 69, 69);
    background-color: rgba(0, 0, 0, .3);
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

/** Damage field **/
.damage {
    color:rgb(248, 0, 0);
    font-size: 30px;
    font-weight: bold;
}

#your_damage {
    position: absolute;
    top: 650px;
    left: 70%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#enemy_damage {
    position: absolute;
    top: 650px;
    left: 30%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

/** Start and Endgame screen **/
#endgame{
    font-size: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-image: url(../images/vintage-pistol.jpg);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#end {
    font-size: 60px;
    color:white;
    position: absolute;
    top: 40%;
    left: 40%;
}

#click {
    color:white;
    position: absolute;
    top: 50%;
    left: 35%;
    border-bottom: 4px solid rgb(255, 255, 255);
}

/** Game field **/
.game_field {
    margin-top: 430px;
    padding-bottom: 10px;
}

/** Add soldier**/
#your_soldier{
    position: absolute;
    top: 650px;
    left: 20%;
    transform: translate(-50%, -50%);
}

#enemy_soldier{
    position: absolute;
    top: 650px;
    left: 80%;
    transform: translate(-50%, -50%);
}

/** Add explosions**/
#you_shoot_straight{
    position: absolute;
    top: 650px;
    left: 80%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#you_shoot_up{
    position: absolute;
    top: 520px;
    left: 80%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#you_shoot_down{
    position: absolute;
    top: 780px;
    left: 80%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#nothing {
    display: none;
}

#nothing_1 {
    display: none;
}

#enemy_shoot_straight{
    position: absolute;
    top: 650px;
    left: 20%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#enemy_shoot_up{
    position: absolute;
    top: 520px;
    left: 20%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#enemy_shoot_down{
    position: absolute;
    top: 780px;
    left: 20%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#make_move_button {
    visibility: visible;
}

/** Move section **/

.your_move {
    display: inline-block;
    background-color: rgba(103, 117, 248, 0.3);
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight:bold;
}

.your_move p {
    padding-top: 20px;
}

.your_move label {
    padding-left: 20px;
}

#second_gun {
    visibility: hidden; 
}

.gems_description{
    background-color: rgba(103, 117, 248, 0.3);
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#description{
    height: 250px;
    width: 70%;
    color: black;
    white-space: pre-wrap;
}

/** For medium screen size from 730px **/
@media screen and (max-width: 730px) {
    #end {
        left: 15%;
    }
    
    #click {
        left: 10%;
    }
    
    
}

/** For medium screen size from 574px **/
@media screen and (max-width: 574px) {
    #click {
        font-size: 25px;
    }

    #end {
        top: 45%;
    }
    
    .title {
        font-size: 30px;
        font-weight: 40;
    }

    .hp_field {
        font-size: 20px;
}
}

/** For medium screen size from 360px **/
@media screen and (max-width: 360px) {
    .title {
        font-size: 20px;
        font-weight: 20;
    }

    .hp_field {
        font-size: 10px;
}
    .confirm_gun {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 10px;
        font-weight: 10;
}
    .choose_weapon{
        font-size: 20px;
}
    .damage {
        font-size: 10px;
}
#end {
    font-size: 40px;
    left: 10%;
}

#click {
    left: 5%;
    font-size: 20px;
}
}