/** Import fonts **/
@import url('https://fonts.googleapis.com/css2?family=Marhey&family=Rubik+Distressed&display=swap');

/** font-family: 'Marhey', cursive;
font-family: 'Rubik Distressed', cursive; **/

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family:Marhey, ans-serif;
}

/** Title **/
.title {
    background-image: url(../images/vintage-pistol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Rubik Distressed, sans-serif;
    color:aquamarine;
    font-size: 60px;
    font-weight: 90;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/** Choose gun section **/
.guns {
    text-align: center;
    background-image: url(../images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.choose_weapon{
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
}

.choose_gun {
    display: inline-block;
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
}

#pistol {
    margin-right:100px
}

.confirm_gun {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
    font-size: 20px;
    font-weight: 30;
}

.field {
    background-image: url(../images/field.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}